.NormalCharacterStyle13
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #8CC63F;
	color : rgb(140, 198, 63);
}
.NormalCharacterStyle6
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}
.NormalCharacterStyle5
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #C1272D;
	color : rgb(193, 39, 45);
}
.NormalCharacterStyle
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}
.NormalCharacterStyle1
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}
.NormalCharacterStyle3
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}
.NormalCharacterStyle2
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #C1272D;
	color : rgb(193, 39, 45);
}
.NormalCharacterStyle4
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}
.NormalCharacterStyle14
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}
.NormalCharacterStyle44
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #C69E3C;
	color : rgb(198, 158, 60);
}
.NormalCharacterStyle43
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #2443A8;
	color : rgb(36, 67, 168);
}
#question
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #4C4C4C;
	color : rgb(76, 76, 76);
}
.NormalCharacterStyle46
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}
.NormalCharacterStyle47
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #8CC63F;
	color : rgb(140, 198, 63);
}
.NormalCharacterStyle38
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #2443A8;
	color : rgb(36, 67, 168);
}
.NormalCharacterStyle39
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #C69E3C;
	color : rgb(198, 158, 60);
}
.NormalCharacterStyle37
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 24px;
	color : #4C4C4C;
	color : rgb(76, 76, 76);
}
.NormalCharacterStyle41
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}
.NormalCharacterStyle40
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #4C4C4C;
	color : rgb(76, 76, 76);
}
.NormalCharacterStyle42
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 24px;
	color : #4C4C4C;
	color : rgb(76, 76, 76);
}
.NormalCharacterStyle48
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}
.NormalCharacterStyle34
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #C69E3C;
	color : rgb(198, 158, 60);
}
.NormalCharacterStyle33
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #2443A8;
	color : rgb(36, 67, 168);
}
.NormalCharacterStyle31
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #C1272D;
	color : rgb(193, 39, 45);
}
.NormalCharacterStyle27
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 24px;
	color : #4C4C4C;
	color : rgb(76, 76, 76);
}
.NormalCharacterStyle28
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #2443A8;
	color : rgb(36, 67, 168);
}
.NormalCharacterStyle29
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #C69E3C;
	color : rgb(198, 158, 60);
}
.NormalCharacterStyle30
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #4C4C4C;
	color : rgb(76, 76, 76);
}
.NormalCharacterStyle35
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #4C4C4C;
	color : rgb(76, 76, 76);
}
.NormalCharacterStyle36
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}
.NormalCharacterStyle25
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #C69E3C;
	color : rgb(198, 158, 60);
}
.NormalCharacterStyle26
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #4C4C4C;
	color : rgb(76, 76, 76);
}
.NormalCharacterStyle23
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 24px;
	color : #4C4C4C;
	color : rgb(76, 76, 76);
}
.NormalCharacterStyle32
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 24px;
	color : #4C4C4C;
	color : rgb(76, 76, 76);
}
.NormalCharacterStyle22
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #4C4C4C;
	color : rgb(76, 76, 76);
}
.NormalCharacterStyle19
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 24px;
	color : #4C4C4C;
	color : rgb(76, 76, 76);
}
.NormalCharacterStyle20
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #2443A8;
	color : rgb(36, 67, 168);
}
.NormalCharacterStyle21
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #C69E3C;
	color : rgb(198, 158, 60);
}
.NormalCharacterStyle24
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #2443A8;
	color : rgb(36, 67, 168);
}
.NormalCharacterStyle18
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #4C4C4C;
	color : rgb(76, 76, 76);
}
.NormalCharacterStyle16
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #2443A8;
	color : rgb(36, 67, 168);
}
.NormalCharacterStyle15
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 24px;
	color : #4C4C4C;
	color : rgb(76, 76, 76);
}
.NormalCharacterStyle17
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #C69E3C;
	color : rgb(198, 158, 60);
}
.NormalCharacterStyle55
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #29ABE2;
	color : rgb(41, 171, 226);
}
.NormalCharacterStyle53
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}
.NormalCharacterStyle52
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #4C4C4C;
	color : rgb(76, 76, 76);
}
.NormalCharacterStyle56
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 24px;
	color : #4C4C4C;
	color : rgb(76, 76, 76);
}
.NormalCharacterStyle58
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #C69E3C;
	color : rgb(198, 158, 60);
}
.NormalCharacterStyle54
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}
.NormalCharacterStyle60
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}
.NormalCharacterStyle61
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}
.NormalCharacterStyle51
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #C69E3C;
	color : rgb(198, 158, 60);
}

.NormalCharacterStyle62
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #29ABE2;
	color : rgb(41, 171, 226);
}
.NormalCharacterStyle50
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #2443A8;
	color : rgb(36, 67, 168);
}

.NormalCharacterStyle57
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #2443A8;
	color : rgb(36, 67, 168);
}
.NormalCharacterStyle65
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #C69E3C;
	color : rgb(198, 158, 60);
}

.NormalCharacterStyle69
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #29ABE2;
	color : rgb(41, 171, 226);
}
.NormalCharacterStyle68
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}
.NormalCharacterStyle72
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #C69E3C;
	color : rgb(198, 158, 60);
}
.NormalCharacterStyle67
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}

.NormalCharacterStyle64
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #2443A8;
	color : rgb(36, 67, 168);
}
.NormalCharacterStyle76
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #29ABE2;
	color : rgb(41, 171, 226);
}
.NormalCharacterStyle75
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}
.NormalCharacterStyle74
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}

.NormalCharacterStyle71
{
	font-family : PT Sans Narrow;
	font-weight : bold;
	font-size : 72px;
	color : #2443A8;
	color : rgb(36, 67, 168);
}

.NormalCharacterStyle12
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}
.NormalCharacterStyle7
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}
.NormalCharacterStyle10
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}
.NormalCharacterStyle8
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #C1272D;
	color : rgb(193, 39, 45);
}
.NormalCharacterStyle11
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #8CC63F;
	color : rgb(140, 198, 63);
}
.NormalCharacterStyle9
{
	font-family : Helvetica Neue;
	font-size : 20px;
	color : #5D5D5D;
	color : rgb(93, 93, 93);
}