@font-face {
    font-family: "PT Sans Narrow";
    src: url("../fonts/PTSans.ttf")
}
@font-face {
    font-family: "Shentox";
    src: url("../fonts/ShentoxW01Bold.ttf")
}

body {
    margin: 0;
    background-color: #6b2669;
    overflow: hidden;
}

p {
    margin: 0;
}


#body {
    width: 100%;
    border: 1px solid gray;
}

#tag {
margin-bottom: 100px;
}


#welcome {

}

#endBadge {
    visibility: hidden;
}

#endScore {
 padding-top: 180px;
    padding-left: 180px;

}

#topMargin {
    height: 20%;
    align: top;
    display: flex;
    flex-flow: column;
    padding: 1em;
    background-color: black;
    clear: left;
}

#leftSection {
    width: 65%;
    float: left;
}
#rightSection {
    float: right;
    width: 30%;
}
.imageContainer {
    position: absolute;
    z-index: 1000;
    bottom: 128px;
    right: 70px;
    visibility: hidden;
}

.badgeContainer {
    position: absolute;
    z-index: 1000;
    bottom: 96px;
    right: 215px;
}


.welcomeContainer {
    padding-top: 180px;
    padding-left: 180px;
    /*padding-right: 40px;*/
}

#welcomeMessage {
    color: rgb(255,228,28);
    font-size: 5em;
    font-family: Shentox;
    font-weight: bold;
}

#endMessage {
    color: rgb(255,228,28);
    font-size: 5em;
    font-family: Shentox;
    font-weight: bold;
}

.rules {
   
    color: #fff;
    vertical-align: middle;
    font-size: 3em;
    font-family: PT Sans Narrow;
    }

#rule-end {

}
.questionContainer {
    padding-top: 100px;
    padding-left: 100px;
    /*padding-right: 40px;*/
}
.rightContainer {
    padding-top: 120px;
    padding-right: 120px;
}
#question {
    color: #fff;
    font-size: 56px;
    font-family: PT Sans Narrow;
    font-weight: bold;
    margin-bottom: 10%;
    line-height: 62px;
    height: 275px;
    margin: auto 0px;
}
#questionNumberContainer {
    margin-bottom: 3%;
    visibility: hidden;

}
#currentQuestionNumber {
    color: rgb(255,228,28);
    font-size: 50px;
    font-family: Shentox;
    font-weight: bold;
}
#totalQuestionsText {
    color: rgb(255,228,28);
    font-size: 32px;
    font-family: Shentox;

}
.buzzer {
    width: 8%;
    height: 8%;
    vertical-align: middle;
    margin-right: 2%;
}
.option {
    margin-bottom: 3%;
}
#optionA, #optionB {
    color: #fff;
    vertical-align: middle;
    font-size: 3em;
    font-family: PT Sans Narrow;
}
.timer {
    color: #6b2669;
    background-color: rgb(255,228,28);

    font-size: 30px;
    font-family: Shentox;
    font-weight: bold;
    padding: 8px;
    font-weight: bold;
    text-align: center;
    visibility: hidden;
}
#wrongAnswerGyan, #correctAnswerGyan, #timeUpMessage, #optionsStrip {
    position: absolute;
    width: 100%;
    bottom: 14% ;
    visibility: hidden;
}
#wrongAnswerGyan, #timeUpMessage {
    background-color: rgb(221,38,99);
}
#correctAnswerGyan {
    background-color: rgb(113,196,0);
}
#optionsStrip {
    background-color: rgb(135,50,135);
}
#state-image {
        width: 414px;
        height: 450px;
}
.gyan {
    color: #fff;
    margin-left: 100px;
    margin-top: 30px;
    width: 52%;
    height: 220px;
}
.gyan-title {
    font-size: 56px;
    font-family: PT Sans Narrow;
    font-weight: bold;
    margin-bottom: 10px;
}
.gyan-message {
    font-size: 28px;
    font-family: PT Sans Narrow;
    line-height: 32px;
}
#options {
    padding-top: 25px;
}

#tagMessage {
	color: yellow;
	font-size: 28px;
    font-family: PT Sans Narrow;
    
}
