#body {
    width: 100%;
    border: 1px solid gray;
}


#topMargin {
    height: 20%;
    align: top;
    display: flex;
    flex-flow: column;
    padding: 1em;
    background-color: black;
    clear: left;
}

#countdown {
    float: bottom;
    left: 50%;
    width: 150px;
    position: absolute;
}


